.pokemon-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon-list {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pokemon-item {
  height: 6rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
}

.pokemon-details {
  width: 20%;
}

.pokemon-cart {
  display: flex;
  align-items: center;
}

.pokemon-cart-item {
  width: 8rem;
  height: 5rem;
}
